.Card {
    width: 25rem;
    height: 25rem;
    border: 2px solid #285430;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    font-size: 0.75rem;
    box-shadow: 0 0 10px;
}

.Card p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Card h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Card h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Card img {
    width: 10rem;
}