.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    
}

img {
    width: 15px;
}

button {
    width: 80px;
    margin: 10px;
    
}

input {
    height: 18px;
    width: 600px;
}

.Top {
    border-bottom: 2px solid #285430;
  padding-bottom: 1rem;
  height: auto;
  box-shadow: 0 0 10px;
  position: sticky;
  top: 0;
}